<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <substitutionProperty name="log.base" value="d:\\test\\status" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender"
              target="System.out">
        <encoder charset="UTF-8">
            <pattern>%date{yyyy-MM-dd HH:mm:ss} [%logger{5}]-[%le] - %m%n</pattern>
        </encoder>
        <target>System.out</target>
    </appender>

    <appender name="queue" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>500</queueSize>
        <appender-ref ref="console" />
    </appender>

    <root level="INFO">
        <appender-ref ref="queue" />
    </root>

</configuration>